@charset "utf-8";

body {
  color: #333;
  background-image: url(../img/whiteboard_back.png);
  background-size: 100vw;
}
h1 {
  display: block;
  text-align: center;
  margin: 25vh auto 20px;
}
h1 img {
  width: 400px;
}
.form {
  width: 350px;
  margin: 20px auto;
}
.input {
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
  width: 310px;
  margin: 0 15px 0 0;
  padding: 5px;
  border-bottom: 1px dashed #333;
}
::placeholder {
  color: #757575;
  opacity: .5;
}
.link {
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 250px;
  margin: 0 auto;
  padding: 5px 10px;
  background: #3597EC;
  border-radius: 20px;
  transition: .5s;
}
.link-button {
  display: inline-block;
  transition: .5s;
}
.link:hover,
.link-button:hover {
  opacity: .5;
}
.back-link {
  display: block;
  text-decoration: none;
  font-size: 30px;
  right: 150px;
  top: 50px;
  position: fixed;
  transition: .5s;
}
.back-link img {
  width: 100px;
}
.back-link:hover {
  opacity: .5;
}
.or {
  text-align: center;
  margin: 10px;
}
.white-board {
    width: 100%;
    height: 100vh;
    position: relative;
}
.create-button {
    display: block;
    width: 250px;
    top: 50px;
    left: 150px;
    position: fixed;
    transition: .5s;
}
.create-button:hover {
  opacity: .5;
}
.board-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75em;
    color: #273d3d;
    width: 160px;
    padding: 40px 10px 10px 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, .3);
}
.board-textarea {
    font-size: 15px;
    line-height: 1.5em;
    color: #273d3d;
    width: 100%;
    border: none;
    background: none;
    resize:vertical;
}
.delete-icon {
    display: block;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    position: absolute;
}
.ColorSelector {
    position: absolute;
    top: 5px;
    left: 10px;
}
.ColorCircle {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 2px;
    border: solid 1px #979797;
    border-radius: 50%;
}